// 

.main__logo_mixblend {
    // задаём ширину блока в процентах (%) зависимости от ширины родителя (т.е. wrapper-а). Также можно задать ширину блока в зависимости от ширины viewport - т.е. через vw. Для больших экранов, когда ширина экрана больше ширины  wrapper-а - ограничиваем макс. ширину блока с помощью max-width: 54.5rem; Также можно через медиа-запрос @media (min-width: 1200px)  просто задать ширину блока для больших экранов.
    // width: calc(100% * 545 / 1200); // при использовании % - проценты считаются от "свободной части родителя - т.е. без учёта pading - для универсальности формулы (при разных падингах родителя для разной ширины) - ситаем размер в зависимости от ширины экрана - т.е. с помощью vw :
    width: calc(100vw * 545 / 1200);
    max-width: 54.5rem;

    // задаём высоту блока в зависимости от ширины viewport - т.е. через vw - т.к. в задание в процентах от родителя - не работает. Для больших экранов, когда ширина экрана больше ширины  wrapper-а - ограничиваем макс. высоту блока с помощью max-height: 54.2rem. Также можно через медиа-запрос @media (min-width: 1200px)  просто задать высоту блока для больших экранов (или использовать height: min(calc(100vw * 542 / 1200), 54.2rem).
    height: calc(100vw * 542 / 1200);
    max-height: 54.2rem;
    background: url(../images/main.jpg) no-repeat;
    background-position: 78% 70%;
    background-size: 135%;
    // Два следующих свойства позволяют сделать текст с фоновой картинкой. Т.е. текст делается прозрачным и фон блока-родителя отображается только по границам букв текста.
    // -webkit-text-fill-color: transparent;
    // -webkit-background-clip: text;

    // добавляет обводку
    -webkit-text-stroke: 0.05rem $red;

    &-cont {
        // задаём чтобы работали отрицательные margin у детей - т.е блоков с буквами. position и transform применить для расположения букв в данном случае нельзя т.к. они "вмешиваются" в поток и не будет работать обрезка фона по буквам текста.
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $white;
        mix-blend-mode: screen;
    }

    &-letter {
        display: block;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;

        color: #000;

        // font-size: calc(132vw * 542 / 1200);
        // Т.к. нужен адаптивный размер букв - задаём размер шрифта в зависимости от ширины viewport (в зависимости от родителя - т.е. в процентах (%) задать размер шрифта нельзя - не работает). Для больших экранов, когда ширина экрана больше ширины  wrapper-а (1200px) можно  или через медиа-запрос @media (min-width: 1200px) просто задать размер шрифта для больших экранов или сделать сразу адаптивно через функцию min(). 

        // font-size: calc(137vw * 542 / 1200);
        // font-size: 74.25rem;


        font-size: calc(135.5vw * 542 / 1200);
        margin-top: -40.3%;
        margin-left: -5.0%;

        @media ($laptop) {
            font-size: min(calc(136.8vw * 542 / 1200), 74.12rem);
            margin-top: -41.15%;
        }

        flex-shrink: 0;
        user-select: none;

        &_m {
            // font-size: calc(100vw * 276 / 1200);
            font-size: min(calc(100vw * 276 / 1200), 27.6rem);
            margin-top: 11%;
            margin-left: -42.4%;
        }

        &_t {
            // font-size: min(calc(132vw * 336 / 1200), 54.4rem);
            font-size: min(calc(100vw * 480 / 1200), 48rem);
            // font-size: 46rem;
            margin-top: -13%;
            margin-left: 0.1%;
        }
    }

    // скрываем выходящие за пределы блока частей букв (из-за отрицательных margin)   - из-за этого в том числе не работает hover на соседних элементах
    overflow: hidden;
}

// https://codepen.io/santo-ss/pen/xvpBya

// https://lenadesign.org/2021/09/10/how-to-create-a-transparent-text-with-stroke-in-css/

// https://stackoverflow.com/questions/13932946/transparent-text-cut-out-of-background

// Transparent text also could be made with CSS property mix-blend-mode (only Black or White background): 

// body {
//     background: url(https://source.unsplash.com/d1FZlcQM9uE/1600x900) no-repeat center center;
// }

// .black {
//     background: black;
//     color: white;
//     mix-blend-mode: multiply;
//   }
// .white {
//     background: white;
//     color: black;
//     mix-blend-mode: screen;
//    }

// https://codepen.io/nic_klaassen/pen/adKqWX