.main__logo_transp-mask-img {
    display: block;
    margin: 0 auto; // когда родитель flex, и ширина задана в vw, падинги и размеры родителя игнорируются - для выравнивания элемента используем margin: 0 auto;

    width: 96vw;

    @media ($tablet) {
        width: calc(100vw * 545 / 1200);
        max-width: 54.5rem;
    }

    height: calc(96vw * 542 / 545);

    @media ($tablet) {
        height: calc(100vw * 542 / 1200);
        max-height: 54.2rem;
    }

    background: url(../images/main.jpg) no-repeat;
    background-position: 78% 68%;
    background-size: 130%;

    transition: all .033s linear;
}



// .main__logo_transp-mask2 {
//     width: calc(100% * 545 / 1200);
//     height: calc(100vw * 542 / 1200);
//     max-height: 54.2rem;
//     background: url(../images/main.jpg) no-repeat;
//     background-position: 78% 70%;
//     background-size: 135%;

//     transition: all .033s linear;
// 
//     &-img2 {
//         width: 100%;
//         height: 100%;
//     }
// }