.main__logo_transp-mask-img {
    display: block;
    width: calc(100% * 545 / 1200);
    max-width: 54.5rem;
    max-height: 54.2rem;
    background: url(../images/main.jpg) no-repeat;
    background-position: 78% 68%;
    background-size: 130%;
}



// .main__logo_transp-mask2 {
//     width: calc(100% * 545 / 1200);
//     height: calc(100vw * 542 / 1200);
//     max-height: 54.2rem;
//     background: url(../images/main.jpg) no-repeat;
//     background-position: 78% 70%;
//     background-size: 135%;

//     &-img2 {
//         width: 100%;
//         height: 100%;
//     }
// }