@import './utils';
@import './components/';
@import './layout/';

body {
    user-select: none;
    -webkit-user-select: none;
    // background-color: green;
}

.wrapper {
    width: 96%;
    max-width: 120rem;
    margin: 0 auto;
    // padding: 0 1rem;

    // background-color: beige;

    // @media (min-width:1220px) {
    //     padding: 0;
    // }
}

.logo {
    @include logo();
}