.cards {
    @include section_mb();

    position: relative; // для абсолютного позиционирования slider__controls (чтобы он не перематывался вместе с карточками)
    background-color: $bgColor;
    padding-top: 9rem;
    padding-bottom: 8rem;

    &__title {
        @include h2();
        margin-bottom: calc(4rem - 2rem);
    }
}

.slider {
    user-select: none;
    // overflow-x: scroll;
    overflow-x: hidden;
    overflow-y: visible !important; // не работает!(

    margin: 0 auto;
    outline: solid 1px greenyellow;

    // ограничиваем макс. щирину внешней обёртки
    max-width: 100vw;

    // ширина внешней обёртки (с overflow-x: scroll;) должна быть больше  ширинц внутреннего содержимого  чтобы не обрезались тени и увеличение карточки при наведении
    // задаём ширину внешней обертки - должна быть больше карточки (или карточек = расстояние между ними) на размер тени плюя сдвиг тени и всё это умножить на коэфф. scale при :hover (1.02)
    width: calc((30rem + (2 * 1.75rem)) * 1.02);

    @media ($mobileM) {
        width: calc((35.4rem + (2 * 1.75rem) * 1.02));
    }

    @media ($mobileL) {
        width: calc((38.4rem + (2 * 1.75rem)) * 1.02);
    }

    @media (min-width:calc(792px / 0.96)) {
        width: calc(((38.4rem * 2 + 2.4rem) + (1 * 1.75rem)) * 1.02);
    }

    @media (min-width:1250px) {
        width: calc(((38.4rem * 3 + 2 * 2.4rem) + (1 * 1.75rem)) * 1.02);
    }

    &__wrapper {
        outline: 1px solid;
        display: flex;
        align-items: flex-end;

        // задаём высоту внутреннего wrappera ( из-за неработающего overflow-y: visible у внешнего контейнера (.slider) ) - к высоте карточки прибавляем размер тени (1.5rem), сдвиг тени (-0.5rem) и умножаем на коэфф. scale при :hover (1.02)
        // height: calc((50rem + 1.5rem - 0.5rem) * 1.02);
        height: calc((39.3rem + 1.5rem - 0.5rem) * 1.02);

        @media ($mobileM) {
            height: calc((45.6rem + 1.5rem - 0.5rem) * 1.02);
        }

        @media ($mobileL) {
            height: calc((50rem + 1.5rem - 0.5rem) * 1.02);
        }

        margin: 0 auto;
        margin-bottom: 3rem;

        // задаём ширину внутреннего wrappera - по ширине карточки. - для выравнивания по центру
        width: 30rem;

        @media ($mobileM) {
            width: 35.4rem;
        }

        @media ($mobileL) {
            width: 38.4rem;
        }

        // суммируем ширину 2-х карточек и расстояние между ними (gap) 
        @media (min-width:calc(792px / 0.96)) {
            //min-width :825px
            width: calc(38.4rem * 2 + 2.4rem);
        }

        // суммируем ширину 3-х карточек и  2 расстояния между ними (2 gap-а)
        @media (min-width:1250px) {
            width: calc((38.4rem * 3) + (2 * 2.4rem));
        }
    }

    &__cards-cont {
        display: flex;
        flex-direction: row;
        gap: 2.4rem;
    }

    &__card {
        flex-shrink: 0;

        &:last-child {
            margin-right: 2.4rem;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        column-gap: 3rem;

        position: absolute;
        bottom: 8rem; // как padding-bottom: 8rem; у .cards 
        left: 50%;
        transform: translate(-50%, 100%);
    }

    &__dots {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
}


// for JS slider dots

.slider__dot_1card {
    display: block;

    @media (min-width:825px) {
        display: none !important;
    }
}

.slider__dot_2card {
    display: block;

    @media (min-width:1250px) {
        display: none !important;
    }
}