.header {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;

    @media ($mobileL) {
        margin-bottom: 4.2rem;
    }

    @media ($tablet) {
        margin-bottom: 3.2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        align-items: center;
        justify-content: space-between;
        position: relative; // for position of header__catalog-menu
    }

    &__logo {
        order: 2;
        // z-index: 10;

        @media ($tablet) {
            order: 1;
        }

        &-nav-mob {
            display: none;

            @media (max-width:767px) {
                display: block;
                position: fixed;
                top: 2rem;
                left: calc(50% - 1.5rem);
                transform: translate(-50%, 0);
                z-index: 3;
            }
        }

        background: url(../images/Icon-Menu-bordo.svg) no-repeat 100% 250%; // чисто предзагружаем иконку
    }

    &__catalog {
        display: flex;
        column-gap: 1.3rem;
        align-items: center;

        order: 1;

        @media ($tablet) {
            order: 2;
        }

        &-text {
            @include catText();
            display: none;
            user-select: none;
            transition: 0.3s;

            // &:hover {
            //     cursor: pointer;
            //     color: $bordo;
            // }

            @media ($tablet) {
                display: block;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &:hover &-text {
            color: $bordo;
            text-shadow: 0 0 0.05rem $textColor;
        }

        &:hover .header__icon-menu {
            background: url(../images/Icon-Menu-bordo.svg) no-repeat;
            transform: scale(1.2);
        }

        &:hover .header__icon-menu_close {
            @media ($tablet) {
                background: url(../images/icon-close-bordo.svg) no-repeat;
                background-size: 70%;
                background-position: 50% 55%;
            }

            transform: scale(1.2);
        }
    }

    &__icon-menu {
        @include icon-menu();

        &-nav-mob_close {
            display: none;

            @media (max-width:767px) {
                display: block;
                position: fixed;
                top: 3.5rem;
                left: 2%;
                z-index: 3;
            }
        }
    }

    &__submenu-opener {
        display: block;

        &:hover {
            cursor: pointer;
        }

        @media ($tablet) {
            display: none !important;
        }
    }

    &__catalog-menu {
        display: none;

        &_visible {
            display: block;
        }

        @media ($tablet) {
            display: none;

            // отдельный класс &_visible-desktop чтобы открытие каталога в мобильной версии не вызывало открытие в десктопной ;
            &_visible-desktop {
                display: block;
                z-index: 10;
            }

            position: absolute;
            top: 4.5rem;
            left: 14rem;
        }

        &-item {
            border-bottom: 0.1rem solid darken($color: $borderColor, $amount: 15%);

            &:first-child {
                border-top: 0.1rem solid darken($color: $borderColor, $amount: 15%);

                @media ($tablet) {
                    border-top: none;
                }
            }

            &:last-child {
                border-bottom: none
            }

            transform: translate(-100%, 0%);
            opacity: 0;
            animation: menu-link-show 0.2s forwards;
            // will-change: transform, opacity;   - НЕ СТАВИТЬ!! - вызывает глюк - доп.расстояние между элементами

            // задал задержку срабатывания анимации для разных пунктов меню через JS
            // &:nth-child(2) {
            //     animation-delay: 0.1s;
            // }

            // &:nth-child(3) {
            //     animation-delay: 0.2s;
            // }

            @media ($tablet) {
                width: 33.33vw;
                max-width: 40rem;
                transform: translate(0%, 200%);
                // will-change: transform, opacity;  - НЕ СТАВИТЬ!! - вызывает глюк - доп.расстояние между элементами
                opacity: 0;
            }
        }

        &-link {
            @include menuText();
            white-space: nowrap;
            user-select: none;
            transition: background-color 0.2s;
            display: block;
            // background-color: rgba(255, 0, 43, 0.612);
            background-color: transparentize($color: $pink, $amount: 0.300);
            width: 100%;
            padding: 1rem;
            padding-left: 7rem;
            color: $white;
            transition: 0.067s;

            @media ($tablet) {
                padding-left: 3rem;
            }

            &:hover {
                background-color: $pinkRed;
                text-shadow: 0 0 0.07rem;
                font-size: 1.85rem;
                line-height: 137%; // уменьшаем line-height: со 140% до 137%; - чтобы созранить высоту линии и блока соответственно
            }
        }
    }

    &__nav {
        display: none;

        @media ($tablet) {
            order: 3;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &_mob-menu {
            @media (max-width:767px) {
                display: block;
                position: fixed;
                z-index: 20; // обязательно добавляем, чтобы не проступали  другие относительно/абсолютно позиционированные элементы страницы
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparentize($color: $pinkRed, $amount: 0.571);

                overflow: auto;
                margin-top: 0;
                padding-top: 2rem;

                // непрозрачный фон полоса сверху при открытии моб. меню
                &::before {
                    content: '';
                    display: block;
                    height: 8rem;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    // background-color: rgb(254, 152, 168);
                    background-color: rgb(255, 151, 166); // подобрано в тон, но непрозрачный
                    // position: relative;
                    z-index: 2;
                }
            }
        }
    }

    &__menu {
        display: none;

        @media ($tablet) {
            display: flex;
            margin-left: calc(100% * 367 / 1200);
            justify-content: space-between;
            width: 28.5rem;
        }

        column-gap: 1.3rem;
    }

    &__menu_mobile {
        @media (max-width:767px) {
            width: 100%;
            // min-height: 100vh;
            // background-color: rgba(255, 0, 43, 0.429);
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            // top: 6.5rem;
            // top: 2rem;
            padding: 8.0rem 0;
            z-index: 1;

        }
    }

    &__menu-item {
        // &:hover {
        //     transform: scale(1.1);
        // }

        @media (max-width:767px) {
            // скрываем начальное положение пунктов меню
            transform: translate(-100%, 0);
            opacity: 0;
            // анимация вылетания
            animation: menu-link-show 0.3s forwards;
            //will-change: transform, opacity; - НЕ СТАВИТЬ!! - вызывает глюк - доп.расстояние между элементами

            border-bottom: 0.1rem solid darken($color: $borderColor, $amount: 15%);

            &:last-child {
                border-bottom: none
            }

            // задаём задержку срабатывания анимации для разных пунктов меню (переписать через JS - сделано!)
            // &:nth-child(2) {
            //     animation-delay: 0.1s
            // }

            // &:nth-child(3) {
            //     animation-delay: 0.2s
            // }
        }
    }

    &__menu-link {
        display: block;
        @include menuText();
        white-space: nowrap;
        user-select: none;
        // transition: background-color 0.2s;
        transition: 0.2s;

        @media (max-width:767px) {
            background-color: transparentize($color: $pinkRed, $amount: 0.300);
            width: 100%;
            padding: 1rem;
            padding-left: 5rem;
            color: $white;
            // transition: 0.1s;

            &:hover {
                background-color: $pinkRed;
                // background-color: transparentize($color: $pinkRed, $amount: 0.050);
                text-shadow: 0 0 0.07rem;
                font-size: 1.85rem;
                line-height: 137%; // уменьшаем line-height: со 140% до 137%; - чтобы созранить высоту линии и блока соответственно
            }
        }

        @media ($tablet) {
            transition: 0.1s;

            &:hover {
                color: $bordo;
                text-shadow: 0 0 0.05rem;
                transform: scale(1.01);
            }
        }
    }


    &__basket {
        order: 4;
        @include basket();
        flex-shrink: 0;
        align-self: flex-start;
        // z-index: 10;
    }
}

@keyframes menu-link-show {
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}


// Делаем белый фон для секции (при использовании фиксированной фоновой картинки через псевдоэлемент - для работы на iOS
.header {
    background-color: white;

    margin-top: 0rem;
    padding-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 6rem;

    @media ($mobileL) {
        margin-bottom: 0rem;
        padding-bottom: 4.2rem;
    }

    @media ($tablet) {
        margin-bottom: 0rem;
        padding-bottom: 3.2rem;
    }
}