.header {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3.2rem;

    &__wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        align-items: center;
        justify-content: space-between;
        position: relative; // for position of header__catalog-menu
    }

    &__logo {
        order: 2;
        // z-index: 10;

        @media ($tablet) {
            order: 1;
        }

        &-nav-mob {
            display: none;

            @media (max-width:767px) {
                display: block;
                position: fixed;
                top: 2rem;
                left: calc(50% - 1.5rem);
                transform: translate(-50%, 0);
                z-index: 3;
            }
        }
    }




    &__catalog {
        display: flex;
        column-gap: 1.3rem;
        align-items: center;

        order: 1;

        @media ($tablet) {
            order: 2;
        }

        &-text {
            @include catText();
            display: none;
            user-select: none;

            &:hover {
                cursor: pointer;
            }

            @media ($tablet) {
                display: block;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &:hover &-text {
            text-shadow: 0 0 0.05rem $textColor;
        }

        &:hover .header__icon-menu {
            transform: scale(1.2);
        }
    }

    &__icon-menu {
        @include icon-menu();

        &-nav-mob_close {
            display: none;

            @media (max-width:767px) {
                display: block;
                position: fixed;
                top: 3.5rem;
                left: 2%;
                z-index: 3;
            }
        }
    }

    &__submenu-opener {
        display: block;

        &:hover {
            cursor: pointer;
        }

        @media ($tablet) {
            display: none;
        }
    }

    &__catalog-menu {
        display: none;

        &_visible {
            display: block;
        }

        @media ($tablet) {
            display: none;

            // отдельный класс &_visible-desktop чтобы открытие каталога в мобильной версии не вызывало открытие в десктопной ;
            &_visible-desktop {
                display: block;
            }

            position: absolute;
            top: 4.5rem;
            left: 14rem;
        }

        &-item {
            border-bottom: 0.1rem solid darken($color: $borderColor, $amount: 15%);

            &:first-child {
                border-top: 0.1rem solid darken($color: $borderColor, $amount: 15%);

                @media ($tablet) {
                    border-top: none;
                }
            }

            &:last-child {
                border-bottom: none
            }

            transform: translate(-100%, 0%);
            opacity: 0;
            animation: menu-link-show 0.3s forwards;

            &:nth-child(2) {
                animation-delay: 0.1s;
            }

            &:nth-child(3) {
                animation-delay: 0.2s;
            }

            &:nth-child(4) {
                animation-delay: 0.3s;
            }

            &:nth-child(5) {
                animation-delay: 0.4s;
            }

            &:nth-child(6) {
                animation-delay: 0.5s;
            }

            @media ($tablet) {
                width: 33.33vw;
                max-width: 40rem;
                transform: translate(0%, 200%);
                opacity: 0;

                // &:nth-child(2) {
                //     animation-delay: 0.1s;
                // }

                // &:nth-child(3) {
                //     animation-delay: 0.2s;
                // }

                // &:nth-child(4) {
                //     animation-delay: 0.3s;
                // }

                // &:nth-child(5) {
                //     animation-delay: 0.4s;
                // }

                // &:nth-child(6) {
                //     animation-delay: 0.5s;
                // }
            }
        }

        &-link {
            @include menuText();
            white-space: nowrap;
            user-select: none;
            transition: background-color 0.2s;
            display: block;
            // background-color: rgba(255, 0, 43, 0.612);
            background-color: rgba(0, 26, 255, 0.612);
            width: 100%;
            padding: 1rem;
            padding-left: 7rem;
            color: $white;

            @media ($tablet) {
                padding-left: 3rem;
            }



            &:hover {
                background-color: rgb(255, 0, 43);
            }
        }
    }

    &__nav {
        display: none;

        @media ($tablet) {
            order: 3;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &_mob-menu {
            @media (max-width:767px) {
                display: block;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 0, 43, 0.429);

                overflow: auto;
                margin-top: 0;
                padding-top: 2rem;

                // непрозрачный фон полоса сверху при открытии моб. меню
                &::before {
                    content: '';
                    display: block;
                    height: 8rem;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    // background-color: rgb(254, 152, 168);
                    background-color: rgb(255, 151, 166);
                    // position: relative;
                    z-index: 2;
                }
            }
        }
    }

    &__menu {
        display: none;

        @media ($tablet) {
            display: flex;
            margin-left: calc(100% * 367 / 1200);
            justify-content: space-between;
            width: 28.5rem;
        }

        column-gap: 1.3rem;
    }

    &__menu_mobile {
        @media (max-width:767px) {
            width: 100%;
            // min-height: 100vh;
            // background-color: rgba(255, 0, 43, 0.429);
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            // top: 6.5rem;
            // top: 2rem;
            padding: 8.0rem 0;
            z-index: 1;

        }
    }

    &__menu-item {
        @media (max-width:767px) {
            // скрываем начальное положение пунктов меню
            transform: translate(-100%, 0);
            opacity: 0;
            // анимация вылетания
            animation: menu-link-show 0.3s forwards;
            border-bottom: 0.1rem solid darken($color: $borderColor, $amount: 15%);

            &:last-child {
                border-bottom: none
            }

            // задаём задержку срабатывания анимации для разных пунктов меню (переписать через JS!)
            &:nth-child(2) {
                animation-delay: 0.1s
            }

            &:nth-child(3) {
                animation-delay: 0.2s
            }

            &:nth-child(4) {
                animation-delay: 0.3s
            }

            &:nth-child(5) {
                animation-delay: 0.4s
            }
        }
    }

    &__menu-link {

        @include menuText();
        white-space: nowrap;
        user-select: none;
        transition: background-color 0.2s;

        @media (max-width:767px) {
            display: block;
            background-color: rgba(255, 0, 43, 0.612);
            width: 100%;
            padding: 1rem;
            padding-left: 5rem;
            color: $white;

            &:hover {
                background-color: rgb(255, 0, 43);
            }
        }
    }


    &__basket {
        order: 4;
        @include basket();
        flex-shrink: 0;
        align-self: flex-start;
        // z-index: 10;
    }
}

@keyframes menu-link-show {
    0% {}

    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}