// <!-- for JS scroll/expand animation -->
.ordering-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $bgColor;
    // border-top: solid 1px;
    // border-bottom: solid 1px;

    // border-top: 25vh solid $bgColor;

    @media ($laptop) {
        height: 50vh;
        min-height: 54.2rem;
    }

    // position: relative;
    // z-index: 1;

}

// <!-- for JS scroll/expand animation -->


.ordering {
    // @include section_mb()
    flex-shrink: 0;
    width: 100%;

    padding: 7rem 0;

    @media ($tablet) {
        padding: 11rem 0;
    }

    @media ($laptop) {
        padding: 0;
        // height: 80vh;
        height: 50vh;
        min-height: 54.2rem;

        display: flex;
        align-items: stretch;
    }

    // position: relative;
    // z-index: 0;

    // //  не нужно при реализации  эффекта background-attachment: fixed; через псевдоэлемент (требуется добавления фона всем блокам сайта (в которых нет фиксированной фоновой картинки) -  см. ниже 
    // background: url(../images/lingerie-order.jpg) no-repeat;
    // background-size: cover;
    // background-attachment: fixed; // doesn't work on iPhone ((
    // background-position: center 26%;
    // background-blend-mode: overlay;
    // //background-color: rgba(255, 250, 255, 0.95);
    // background-color: rgba(240, 237, 243, 0.99);

    // !!! для реализации аналога background-attachment: fixed; через JS, но скрипт тормозит на iPhone 6s, 11Pro и даже (немного) на MacBook Pro 2015 - добавил только для нагладности возможности
    // background-attachment: scroll;

    @media ($tablet) {
        // background: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        align-items: center;

        @media ($tablet) {
            flex-direction: row;
            justify-content: space-evenly;
            column-gap: 2rem;
        }

        @media ($laptop) {
            justify-content: space-between;
        }

        position: relative;
        // z-index: 1;
    }

    &__img-cont-outer {
        display: none;

        @media ($laptop) {
            display: flex;
        }

        height: 100%;
        width: 100%;
        max-width: 36rem;
        // background-color: aquamarine;
        flex-shrink: 0;
        align-items: center;
    }

    &__img-cont {
        display: none;

        @media ($laptop) {
            display: block;
        }

        width: 100%;
        max-width: 36rem;
        max-height: 32.1rem;

        transition: 0.6s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__img {
        @include img();
        max-height: 32.1rem;

    }

    &__text {
        max-width: 80%;
        flex-shrink: 0;

        @media ($tablet) {
            max-width: 25.4rem;
        }
    }

    &__title {
        @include h2();
        margin-bottom: 3rem;
        text-align: center;

        @media ($tablet) {
            text-align: left;
        }
    }

    &__descr {
        @include p1();
        text-align: center;

        @media ($tablet) {
            text-align: left;
            // max-width: 25.2rem;
        }
    }

    &__form {
        width: 100%;
        max-width: 30rem;

        @media ($mobileM) {
            max-width: 32rem;
        }

        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &__btn {
        width: 100%;
    }

    // реализация  эффекта background-attachment: fixed; через псевдоэлемент. требуется добавления фона всем блокам сайта (в которых нет фиксированной фоновой картинки)
    --orderingBGColor:rgba(240, 237, 243, 0.99);
    --transformBgBefore: none;

    &::before {
        display: block;
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        // https://i.stack.imgur.com/plYwy.png  https://caniuse.com/viewport-unit-variants
        // height: 100svh;
        height: 100lvh; // largest Viewport Height
        z-index: -1000;

        background: url(../images/lingerie-order.jpg) no-repeat;
        background-size: cover;
        background-position: center 26%;
        background-blend-mode: overlay;
        background-color: var(--orderingBGColor);
        // background-color: rgba(240, 237, 243, 0.99);
        transition: background-color 0.5s, transform 0.033s;
        transform: var(--transformBgBefore);
    }

    // &-before {
    //     display: block;
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: -1000;

    //     background: url(../images/lingerie-order.jpg) no-repeat;
    //     background-size: cover;
    //     background-position: center 26%;
    //     background-blend-mode: overlay;
    //     background-color: rgba(240, 237, 243, 0.99);
    // }
}