%h {
    color: $titleColor;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@mixin h1() {
    @extend %h;
    font-size: 3.8rem;

    // @media ($tablet) {
    //     font-size: 4.3rem;
    // }

    // индивидуально под текст на сайте
    @media (min-width:864px) {
        font-size: 4.3rem;
    }

    @media ($laptop) {
        font-size: 5.5rem;
    }
}

@mixin h2() {
    @extend %h;
    font-size: 3.5rem;

    @media ($tablet) {
        font-size: 4rem;
    }
}

@mixin h3() {
    @extend %h;
    font-size: 2.2rem;
}

@mixin logo ($_color: $red) {
    color: $_color;
    font-family: 'Roboto';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    user-select: none;
}

@mixin p1($_color: $textColor) {
    color: $_color;
    font-family: 'PT Sans';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin menuText() {
    @include p1();
    font-family: 'Roboto';
    font-weight: 300;
}

@mixin catText() {
    @include p1();
    font-family: 'Nunito';
    font-weight: 300;
}

@mixin p2() {
    @include p1();
    font-size: 1.4rem;
}

@mixin btn() {
    display: flex;
    width: 100%;
    padding: 2.2rem;
    justify-content: center;
    align-items: center;
    background: $red;
    @include p1($white);

    @media ($mobileL) {
        width: 26rem;
    }

    &:hover {
        background: saturate($color: $red, $amount: 20%);
    }
}

@mixin btn_small() {
    display: block;
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;

    @media ($mobileM) {
        width: 6rem;
        height: 6rem;
    }

    @media ($tablet) {
        width: 7rem;
        height: 7rem;
    }

    padding: 0;
    background: url(../images/Small-button.svg) no-repeat;
    background-size: 100%;

    &:hover {
        filter: saturate(1.2);
    }
}

@mixin btn_arrow () {
    width: 4rem;
    display: block;
    height: 1.6rem;
    background: url(../images/Arrows.svg) no-repeat;
    background-size: 200%;
    transition: 0.3s;

    &:hover {
        transform: scale(1.2);
    }

    &_r {
        background-position: 120% 0%;
    }
}

@mixin basket() {
    @include menuText();
    display: flex;
    align-items: flex-end;
    // width: 9.5rem;
    // height: 4.5rem;
    // padding-left: 4.8rem;
    width: calc(3.5rem + 1.7rem + 0.4rem);
    height: 3.5rem;
    padding-left: 3.8rem;
    font-size: 1.4rem;
    background: url(../images/bascket.svg) no-repeat;
    background-size: 65%;
    transition: 0.3s;

    &::before {
        content: '(';
    }

    &::after {
        content: ')';
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        filter: saturate(1.2);
    }
}

@mixin slider__dot($_color: $white) {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    background-color: $_color;
    transition: 0.3s;

    user-select: none;

    &:hover {
        background-color: lighten($color: $bordo, $amount: 20%);
        cursor: pointer;
    }

    &_active {
        background-color: $bordo;

        &:hover {
            background-color: $bordo;
            cursor: auto
        }
    }
}

@mixin icon-menu() {
    display: block;
    width: 2.6rem;
    height: 1.6rem;
    background: url(../images/Icon-Menu.svg);
    // transition: 0.2s;
    transform: scale(1.1);

    @media ($tablet) {
        transform: scale(1);
    }

    transition: transform 0.2s;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    &_close {
        @media ($tablet) {
            background: url(../images/icon-close.svg) no-repeat;
            background-size: 70%;
            background-position: 50% 55%;
        }
    }

    &-nav-mob_close {
        @media (max-width:767px) {
            background: url(../images/icon-close.svg) no-repeat;
            background-size: 70%;
            background-position: 50% 55%;
            filter: brightness(10);
        }
    }
}

@mixin section_mb() {
    margin-bottom: 7rem;

    @media ($tablet) {
        margin-bottom: 11rem;
    }
}