//colors
$titleColor: #1F1F1F;
$textColor: #444;
$red: #D1333B;
$bordo :#B9151D;
$pinkRed: rgb(255, 0, 43);
$pink: rgb(255, 40, 86);
$white: #FFF;
$bgColor: #FFEEEF;
$borderColor: #FFC9CC;
// $inputColor: #9D9D9D;
$inputColor: #888888;

// fonts
$mainFont: 'PT Sans';

// displays 
$mobileM: 'min-width: 375px';
$mobileL: 'min-width: 425px';
$tablet: 'min-width: 768px';
$laptop: 'min-width: 1024px';
$services: 'min-width: 1160px';
$notebook: 'min-width: 1280px';
$laptopL: 'min-width: 1440px';